vim74
.Private
.Xauthority
.Xdefaults
.bash_history
.bash_logout
.cache/
.config/
.ecryptfs
.gconf
.gnome
.gstreamer-0.10/
.local/
.mozilla/
.pki/
.profile
.thumbnails/
.viminfo
.xscreensaver
.xsession-errors
.xsession-errors.old
Desktop/
Downloads/
.ICEauthority
.bashrc
