[user]
	name = Adrian Henry
	email = adrian@hungryturtlecode.com
[credential]
	helper = store
[alias]
	co = checkout
	cob = checkout -b
    cm = !git add -A && git commit -m
    c = !git add -A && git commit
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
    s = status
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    lp = log --decorate -p
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    la = "!git config -l | grep alias | cut -c 7-"
    cl = clone
    br = branch 
    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
  cdiff = "!f() { git diff $1^ $1; }; f"
  todo = !git diff | grep ^+.*TODO
  atodo = !git grep TODO
	visualize = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = true
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
  pager = delta
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
    colorMoved = default
[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Monokai Extended
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul
[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
[interactive]
    diffFilter = delta --color-only
